---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import CallToAction from '../components/CallToAction.astro'
import Grid from '../components/Grid.astro'
import Hero from '../components/Hero.astro'
import Icon from '../components/Icon.astro'
import Pill from '../components/Pill.astro'
import TechBadge from '../components/TechBadge.astro'
import PortfolioPreview from '../components/PortfolioPreview.astro'
import Skills from '../components/Skills.astro'
import { technologies, bbdd, otros } from '../utils/data'
import Tag from '../components/Tag.astro'

type TechBadgeProps = {
  name: string
  imgSrc: string
  altSrc: string
  link: string
  ariaLink: string
}

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4)
---

<BaseLayout>
  <div class='stack gap-20 lg:gap-30'>
    <div class='wrapper stack gap-8 lg:gap-20'>
      <header class='hero'>
        <Hero
          title='Rubén Feito'
          tagline='Soy un FullStack Developer que actualmente residente en Madrid, España.'
          align='start'
        >
          <div class='roles'>
            <Pill><Icon icon='code' size='1.2em' /> FullStack Developer</Pill>
            <Pill><Icon icon='guitar' size='1.2em' /> Músico</Pill>
            <Pill><Icon icon='bike' size='1.2em' /> Ciclista</Pill>
          </div>
        </Hero>
      </header>
    </div>

    <main class='wrapper stack gap-10 lg:gap-15'>

      <section class='section with-background with-cta'>
        <header class='section-header stack gap-2 lg:gap-8'>
          <h2 id="experience">Experiencia Laboral</h2>
        </header>

        <div class='gallery'>
          <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-lg font-normal leading-none text-gray-400 dark:text-gray-500">Diciembre de 2020 - Actualmente</time>
                <h3 class="text-lg font-semibold">Sitelicon Ecommerce Services – FullStack Developer</h3>
                <p class="text-base font-normal">Análisis de requisitos colaborando con cliente final en su definición, diseño de soluciones y diagnóstico de incidencias.</p>
                <p class="text-base font-normal">Participación en desarrollo y mantenimiento de Webs Dinámicas. Aplicaciones Web, ERPs, CRMs y Landings.</p>
                <p class="text-base font-normal">Back End con <b>PHP</b> en Laravel y Codeigniter. En menor medida con con Node.js.</p>
                <p class="text-base font-normal">Front End con <b>HTML</b>, Laravel Blade, <b>CSS</b> (SASS), <b>Bootstrap</b> y <b>Tailwind</b>. En menor medida con <b>JS</b> en React, Astro.js y Next.js.</p>
                <p class="text-base font-normal">Proyectos con control de versiones con Git y AWS CodeCommit.</p>
                <p class="text-base font-normal">BBDD relacionales MySQL y MariaDB. En menor medida MongoDB.</p>
                <p class="text-base font-normal">Optimización Web usando PageSpeed y Lighthouse.</p>
                <p class="text-base font-normal">Creación de API RESTful propias e integraciones de terceros incluidos marketplaces.</p>
                <p class="text-base font-normal">Colaboración con otros departamentos operacionales en el ciclo de vida: Diseño, Marketing, Contabilidad…</p>
                <p class="text-base font-normal">Creación, seguimiento y supervisión de los proyectos del equipo.</p>
                <p class="text-base font-normal">Orientador y formador de nuevo personal y en prácticas.</p>
                <div class='roles'>
                  <Tag>Desarrollo FullStack</Tag>
                  <Tag>PHP</Tag>
                  <Tag>Gestión de Proyectos</Tag>
                  <Tag>Liderazgo de equipos</Tag>
                </div>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
  
          </svg>
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-lg font-normal leading-none text-gray-400 dark:text-gray-500">Abril de 2020 - Junio de 2020</time>
                <h3 class="text-lg font-semibold">Bankinter – Consultor Business Intelligence</h3>
                <p class="text-base font-normal">Desarrollar Datawarehouse (DWH) y construcción de modelos Business Intelligence.</p>
                <p class="text-base font-normal">Creación y actualización de ETLs con IBM InfoSphere <b>DataStage</b> y RPDs con <b>Oracle Administrator</b>.</p>
                <p class="text-base font-normal">Realización de informes por medio de Oracle Business Intelligence Enterprise Edition (OBIEE).</p>
                <p class="text-base font-normal">BBDD relacionales deSQL Oracle Developer usando <b>PL/SQL</b>.</p>
                <div class='roles'>
                  <Tag>BBDD</Tag>
                </div>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </li>
          </ol>
        </div>
      </section>

      <section class='section with-background with-cta'>
        <header class='section-header stack gap-2 lg:gap-8'>
          <h3 id="technologies">Tecnologías</h3>
          <p>
            Me gusta aprender nuevos lenguajes de programación, frameworks y librerías. Estas son las tecnologías con las que estoy más habituado a trabajar:
          </p>
        </header>
        
        <div class='gallery'>

        <p class="center-text">Lenguajes, frameworks y librerias:</p>
        <Grid variant='small'> 
          {
            technologies.map((tech: TechBadgeProps) => (
              <li><a
                href={tech.link}
                target="_blank"
                class='cursor-pointer text-gray-300'
                aria-label={tech.ariaLink}
                style={{ textDecoration: 'none' }}}
              >
                <TechBadge {...tech} />
              </a></li>
            ))
          }
          </Grid>

            <p class="center-text">Bases de Datos:</p>
          <Grid variant='small'> 
            {
              bbdd.map((bd: TechBadgeProps) => (
              <li><a
                  href={bd.link}
                  target="_blank"
                  class='cursor-pointer text-gray-300'
                  aria-label={bd.ariaLink}
                  style={{ textDecoration: 'none' }}}
                >
                  <TechBadge {...bd} />
                </a></li>
              ))
            }
            </Grid>

            <p class="center-text">Otros:</p>
             <Grid variant='small'> 
               {
                 otros.map((other: TechBadgeProps) => (
                 <li><a
                     href={other.link}
                     target="_blank"
                     class='cursor-pointer text-gray-300'
                     aria-label={other.ariaLink}
                     style={{ textDecoration: 'none' }}}
                   >
                     <TechBadge {...other} />
                   </a></li>
                 ))
               }
               </Grid>
        </div>
      </section>

      <Skills />

      <section class='section with-background with-cta'>
        <header class='section-header stack gap-2 lg:gap-4'>
          <h3>Proyectos</h3>
          <p>
            Echa un vistazo a algunos de mis trabajos destacados para clientes de los últimos años.
          </p>
        </header>

        <div class='gallery'>
          <Grid variant='offset'>
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>

        <div class='cta'>
          <CallToAction href='/work/'>
            Ver todos
            <Icon icon='arrow-right' size='1.2em' />
          </CallToAction>
        </div>
      </section>

      <!-- <section class='section with-background bg-variant'>
        <header class='section-header stack gap-2 lg:gap-4'>
          <h3>Mentions</h3>
          <p>
            I have been fortunate enough to receive praise for my work in
            several publications. Take a look below to learn more.
          </p>
        </header>

        <div class='gallery'>
          <Grid variant='small'>
            {
              [
                'Medium',
                'BuzzFeed',
                'The Next Web',
                'awwwards.',
                'TechCrunch',
              ].map((brand) => (
                <li class='mention-card'>
                  <p>{brand}</p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section> -->
    </main>
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .roles {
    display: none;
  }

  .hero img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    content: '';
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background:
      url('/assets/backgrounds/noise.png') top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 70ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  .center-text{
    text-align: center;
    font-size: var(--text-lg);
    padding-top: 55px;
    padding-bottom: 25px;
  }
  .center-text:first-of-type{
    padding-top: 0px;
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
      gap: 1rem;
    }

    .section.with-cta {
      grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>
